<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Model Accuracy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body class="stats-body">
    <header>
      <nav>
        <ul>
          <li class="button"><a href="{% url 'about' %}">About us</a></li>
          {% if user.is_authenticated %}
          <li class="button"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class="button"><a href="{% url 'login' %}">Login</a></li>
          <li class="button"><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="container">
      <h2>Model Accuracy: {{ accuracy|floatformat:2 }}%</h2>
      <details>
        <summary>View Histograms</summary>
        <div>
          <h3>Histogram Subplots</h3>
          <img
            src="data:image/png;base64,{{ img_base64_histograms }}"
            alt="Histograms"
          />
        </div>
      </details>

      <details>
        <summary>View Correlation Heatmap</summary>
        <div>
          <h3>Correlation Heatmap</h3>
          <img
            src="data:image/png;base64,{{ img_base64_heatmap }}"
            alt="Correlation Heatmap"
          />
        </div>
      </details>

      <details>
        <summary>View Summary Statistics</summary>
        <div>
          <h3>Summary Statistics</h3>
          <img
            src="data:image/png;base64,{{ img_base64_statistics }}"
            alt="Summary Statistics"
          />
        </div>
      </details>

      <details>
        <summary>View Top 10 Features</summary>
        <div>
          <h3>Top 10 Features</h3>
          <img
            src="data:image/png;base64,{{ img_base64_top10_weights }}"
            alt="Top 10 Weights Graph"
          />
        </div>
      </details>
    </div>
  </body>
</html>
